:root {
    background: rgb(194, 153, 153);
  }

.header {
    display: flex; 
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: Courier New, sans-serif;
    text-shadow: 3px 3px 3px white;
    font-size: 40px;
    color: black;
    text-align: center; 
}

.calc {
    display: flex; 
    justify-content: center;
    text-align: center;
}

.calcbox {
    border: 2px solid rgb(25, 25, 25); 
    background-color: rgb(87, 87, 87);
    box-shadow: 1px 3px;
    width: 230px;
    height: 280px;
    border-radius: 2%;
    justify-content: center;
    padding-top: 30px;
}

.display {
    border: 2px solid rgb(25, 25, 25); 
    background-color: rgb(49, 49, 49);
    box-shadow: 1px 3px;
    display: flex; 
    width: 200px;
    height: 30px;
    border-radius: 2%;
    margin: auto; 
    justify-content: right;
}

.display_text {
    /* display: table cell; how to get this text vertically aligned in the middle? */
    /* vertical-align: middle; */
    text-align: left;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
}

.buttons { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.clearbutton {
    margin-top: 20px;
}

.sidebysideplacement {
    display: flex; 
    justify-content: center;
}

.seveneightnine {
    display: flex; 
}

.fourfivesix {
    display: flex; 
}

.onetwothree {
    display: flex; 
}

.dotzerooperate {
    display: flex;
}

.operatorbuttons{
    display: flex;
    flex-direction: column; 
}

.button_1 {
    margin: 5px; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: rgb(124, 124, 124); 
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_1 {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
}

@media (min-width: 768px) {
  .button_1 {
    padding: 0.25em 0.75em;
  }
}

.button_2 {
    margin: 5px; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: rgb(168, 168, 168);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_2 {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
}

@media (min-width: 768px) {
  .button_2 {
    padding: 0.25em 0.75em;
  }
}
